<a href="https://colab.research.google.com/github/you9222/Digital_Finance/blob/main/FinanceDataReader.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# FinanceDataReader

pandas-datareader를 보완한 API

https://stockanalysis.tistory.com/12

In [129]:
!pip install finance-datareader # API 설치

Requirement already satisfied: finance-datareader in /usr/local/lib/python3.7/dist-packages (0.9.31)
Requirement already satisfied: requests-file in /usr/local/lib/python3.7/dist-packages (from finance-datareader) (1.5.1)
Requirement already satisfied: pandas>=0.19.2 in /usr/local/lib/python3.7/dist-packages (from finance-datareader) (1.1.5)
Requirement already satisfied: tqdm in /usr/local/lib/python3.7/dist-packages (from finance-datareader) (4.41.1)
Requirement already satisfied: requests>=2.3.0 in /usr/local/lib/python3.7/dist-packages (from finance-datareader) (2.23.0)
Requirement already satisfied: lxml in /usr/local/lib/python3.7/dist-packages (from finance-datareader) (4.6.3)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from requests-file->finance-datareader) (1.15.0)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.19.2->finance-datareader) (2.8.1)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.19.2->finance-datareader) (2018.9)
Requirement already satisfied: numpy>=1.15.4 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.19.2->finance-datareader) (1.19.5)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests>=2.3.0->finance-datareader) (1.24.3)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests>=2.3.0->finance-datareader) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests>=2.3.0->finance-datareader) (2020.12.5)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests>=2.3.0->finance-datareader) (2.10)

In [128]:
import FinanceDataReader as fdr

NASDAQ = fdr.StockListing('NASDAQ') # 나스닥 상장 종목 불러오기   KRX, KOSPI, KOSDAQ, KONEX, NYSE, NASDAQ 등

100%|██████████| 3670/3670 [00:40<00:00, 90.18it/s]

In [130]:
print(NASDAQ)     # ALL 출력

     Symbol  ... IndustryCode
0      AAPL  ...       571060
1      MSFT  ...       572010
2      AMZN  ...       534020
3        FB  ...       572010
4     GOOGL  ...       572010
...     ...  ...          ...
3665   ULCC  ...       524050
3666   EVOJ  ...       556010
3667   ENNV  ...       556010
3668   KARO  ...       572010
3669    GIG  ...       556010

[3670 rows x 4 columns]

In [136]:
CCL = fdr.DataReader('CCL') # CCL 카니발 _ 전체 기간    / 티커로 바로 가져 올 수 있음.
CCL_2020 = fdr.DataReader('CCL','2020') # CCL 카니발 _ 2020 년
CCL_2021_MY = fdr.DataReader('CCL','2021-01-01','2021-03-31') # CCL 카니발 _ 원하는 날짜

print(CCL)
# print(CCL_2020)
print(CCL_2021_MY)

            Close   Open   High    Low      Volume  Change
Date
1987-07-24   3.94   3.94   3.94   3.88  15570000.0 -0.9194
1987-07-27   3.91   3.91   3.94   3.88   1930000.0 -0.0076
1987-07-28   3.88   3.88   3.91   3.88   2070000.0 -0.0077
1987-07-29   3.88   3.88   3.91   3.88   4930000.0  0.0000
1987-07-30   3.81   3.81   3.91   3.81   4650000.0 -0.0180
...           ...    ...    ...    ...         ...     ...
2021-03-26  26.06  26.25  26.51  25.21  28540000.0  0.0081
2021-03-29  25.63  26.05  26.12  25.28  19990000.0 -0.0165
2021-03-30  26.65  25.70  26.83  25.66  23600000.0  0.0398
2021-03-31  26.54  26.46  26.79  25.92  21560000.0 -0.0041
2021-04-01  26.86  26.99  27.10  26.53  19640000.0  0.0121

[8491 rows x 6 columns]
            Close   Open   High    Low      Volume  Change
Date
2021-01-04  20.38  21.70  21.71  20.04  40270000.0 -0.0591
2021-01-05  20.60  20.18  20.85  20.15  31790000.0  0.0108
2021-01-06  20.40  20.55  20.91  20.16  35300000.0 -0.0097
2021-01-07  20.74  20.50  21.26  20.50  28990000.0  0.0167
2021-01-08  20.47  20.90  21.01  20.18  30370000.0 -0.0130
...           ...    ...    ...    ...         ...     ...
2021-03-25  25.85  23.91  26.03  23.72  46670000.0  0.0402
2021-03-26  26.06  26.25  26.51  25.21  28540000.0  0.0081
2021-03-29  25.63  26.05  26.12  25.28  19990000.0 -0.0165
2021-03-30  26.65  25.70  26.83  25.66  23600000.0  0.0398
2021-03-31  26.54  26.46  26.79  25.92  21560000.0 -0.0041

[61 rows x 6 columns]

**달러, 코인, 국채 등 ..**

In [5]:
USD_KR = fdr.DataReader('USD/KRW') # 달러 / 원 
BTC_KR = fdr.DataReader('BTC/KRW') # 비트코인 / 원 ( 빗썸 기준 )

print(USD_KR)
print(BTC_KR)

# NG 천연가스 / ZG 금 선물 / ZI 은 선물 / HG 구리 선물  등 
# KR1YT=RR ( 1년만기 한국국채 수익률 등.. ) KR + 1YT / 국가 + 기간 = RR
# 국가 : KR, US / 기간 : 1YT, 10YT, 1MT / RR : 수익률 ( rate of return )
# https://fred.stlouisfed.org/  연준 DATA, 사이트에서 Symbol 가져오면 됨.
# name = fdr.DataReader('Symbol', 'data_source = 'fred' )

              Close     Open     High      Low  Change
Date
1981-04-14   676.70   676.70   676.70   676.70  0.0019
1981-04-15   676.70   676.70   676.70   676.70  0.0000
1981-04-16   676.70   676.70   676.70   676.70  0.0000
1981-04-17   676.75   676.75   676.75   676.75  0.0001
1981-04-20   676.70   676.70   676.70   676.70 -0.0001
...             ...      ...      ...      ...     ...
2021-03-31  1127.17  1133.54  1134.68  1125.32 -0.0048
2021-04-01  1128.72  1127.96  1133.82  1125.31  0.0014
2021-04-02  1128.64  1128.86  1130.38  1126.29 -0.0001
2021-04-04  1129.79  1129.69  1129.79  1129.69  0.0010
2021-04-05  1127.35  1129.79  1129.79  1126.75 -0.0022

[10313 rows x 5 columns]
               Close      Open      High       Low   Volume  Change
Date
2017-05-23   3206000   3104000   3281000   3081000  21580.0  0.0329
2017-05-24   4175000   3206000   4314000   3206000  34680.0  0.3022
2017-05-25   4199000   4175000   4840000   3102000  35910.0  0.0057
2017-05-26   3227000   4199000   4200000   2900000  36650.0 -0.2315
2017-05-27   3152000   3227000   3288000   2460000  33750.0 -0.0232
...              ...       ...       ...       ...      ...     ...
2021-04-01  72314000  71001000  72402000  71001000   1140.0  0.0189
2021-04-02  73697000  72292000  73697000  72292000    860.0  0.0191
2021-04-03  72076000  73697000  74672000  72076000   1770.0 -0.0220
2021-04-04  73924000  72076000  74121000  72076000    810.0  0.0256
2021-04-05  75287000  73924000  75287000  73924000   2050.0  0.0184

[1412 rows x 6 columns]

# Yahoo Finance Data

In [14]:
!pip install pandas-datareader
!pip install yfinance

import pandas as pd
import pandas_datareader as pdr
import yfinance as yf

Tesla = yf.Ticker("TSLA")   # 코스피는 005930.KS or KQ 붙이기  
Wells_Pargo = yf.Ticker("WFC")
# 변수 선언 후 
# .dividends 배당 정보 / .splits 분할 정보  / .recommendations 애널리스트 평가정보 등 무수히 많음. 하나 하나 찾기
# 가져올 수 있음


# Tesla_2021 = Tesla.history(period="2021") # 추출 방법 자세히 알아보기
# print(Tesla_2021)

Requirement already satisfied: pandas-datareader in /usr/local/lib/python3.7/dist-packages (0.9.0)
Requirement already satisfied: lxml in /usr/local/lib/python3.7/dist-packages (from pandas-datareader) (4.6.3)
Requirement already satisfied: requests>=2.19.0 in /usr/local/lib/python3.7/dist-packages (from pandas-datareader) (2.23.0)
Requirement already satisfied: pandas>=0.23 in /usr/local/lib/python3.7/dist-packages (from pandas-datareader) (1.1.5)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests>=2.19.0->pandas-datareader) (3.0.4)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests>=2.19.0->pandas-datareader) (1.24.3)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests>=2.19.0->pandas-datareader) (2020.12.5)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests>=2.19.0->pandas-datareader) (2.10)
Requirement already satisfied: numpy>=1.15.4 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.23->pandas-datareader) (1.19.5)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.23->pandas-datareader) (2018.9)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.23->pandas-datareader) (2.8.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas>=0.23->pandas-datareader) (1.15.0)
Requirement already satisfied: yfinance in /usr/local/lib/python3.7/dist-packages (0.1.59)
Requirement already satisfied: pandas>=0.24 in /usr/local/lib/python3.7/dist-packages (from yfinance) (1.1.5)
Requirement already satisfied: multitasking>=0.0.7 in /usr/local/lib/python3.7/dist-packages (from yfinance) (0.0.9)
Requirement already satisfied: numpy>=1.15 in /usr/local/lib/python3.7/dist-packages (from yfinance) (1.19.5)
Requirement already satisfied: requests>=2.20 in /usr/local/lib/python3.7/dist-packages (from yfinance) (2.23.0)
Requirement already satisfied: lxml>=4.5.1 in /usr/local/lib/python3.7/dist-packages (from yfinance) (4.6.3)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24->yfinance) (2018.9)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24->yfinance) (2.8.1)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests>=2.20->yfinance) (2.10)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests>=2.20->yfinance) (2020.12.5)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests>=2.20->yfinance) (1.24.3)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests>=2.20->yfinance) (3.0.4)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas>=0.24->yfinance) (1.15.0)

In [35]:
# 23개  property : optinon, ticker, qua ~ 5개 제외 / .get_ ~ 16개

"""
Wells_Pargo.actions                     #   배당, 분할
Wells_Pargo.balance_sheet               #   결산표, 대차대조표, 재무상태표      //  balace_sheet랑
Wells_Pargo.balancesheet                #   결산표, 대차대조표, 재무상태표      //
Wells_Pargo.quarterly_balance_sheet     #   분기별 balance_sheet                //  balace_sheet 서로 같음.
Wells_Pargo.quarterly_balancesheet      #   분기별 balancesheet                 //
Wells_Pargo.calendar                    #   주요 행사표, 일정표, yahoo에 calendar이라는 부분이 있음.
Wells_Pargo.cashflow                    #   현금흐름, 자금운용의
Wells_Pargo.quarterly_cashflow          #   분기별 cashflow
Wells_Pargo.dividends                   #   배당금
Wells_Pargo.earnings                    #   수입
Wells_Pargo.quarterly_earnings          #   분기별_earnings
Wells_Pargo.financials                  #   재무재표  / Financial statements의 약어
Wells_Pargo.quarterly_financials        #   분기별 재무재표
Wells_Pargo.info                        #   NASDAQ Symbols : Infonautics, Inc. 인포노틱스, 주식회사
Wells_Pargo.institutional_holders       #   기관투자자
Wells_Pargo.isin                        #   International Securities Identifier Number ( 국제 증권 식별 번호 )
Wells_Pargo.major_holders               #   대주주
Wells_Pargo.mutualfund_holders          #   뮤추얼 펀드 (미국 투자 신탁(회사)의 일종) 주주
Wells_Pargo.options                     #   선택권
Wells_Pargo.recommendations             #   추천사항, 애널리스트 평가정보
Wells_Pargo.splits                      #   분할
Wells_Pargo.sustainability              #   지속가능성
Wells_Pargo.ticker                      #   주식 시세 표시기

"""

'\nWells_Pargo.actions\nWells_Pargo.balance_sheet\nWells_Pargo.balancesheet\nWells_Pargo.quarterly_balance_sheet\nWells_Pargo.quarterly_balancesheet\nWells_Pargo.calendar\nWells_Pargo.cashflow\nWells_Pargo.quarterly_cashflow\nWells_Pargo.dividends\nWells_Pargo.earnings\nWells_Pargo.quarterly_earnings\nWells_Pargo.financials\nWells_Pargo.quarterly_financials\nWells_Pargo.info\nWells_Pargo.institutional_holders\nWells_Pargo.isin\nWells_Pargo.major_holders\nWells_Pargo.mutualfund_holders\nWells_Pargo.options\nWells_Pargo.recommendations\nWells_Pargo.splits\nWells_Pargo.sustainability\nWells_Pargo.ticker\n'

In [138]:
import pandas as pd

# 숫자의 크기가 커서 지수표시 되는걸 없앰.
# 과학적 표기법 대신 소수점 0자리까지 나타낸다.

pd.options.display.float_format = '{:.0f}'.format
# 천 단위 콤마 찍기는 아직
pd.reset_option('display.float_format')  # 원래대로 복구 시킬때

In [139]:
Wells_Pargo.actions.tail()                     #   배당, 분할 / 지수 표시 없애면 반올림 됨.

            Dividends  Stock Splits
Date
2020-02-06       0.51           0.0
2020-05-07       0.51           0.0
2020-08-06       0.10           0.0
2020-11-05       0.10           0.0
2021-02-04       0.10           0.0

In [116]:
Wells_Pargo.balance_sheet.head(3)               #   결산표, 대차대조표, 재무상태표

                     2020-12-31    2019-12-31    2018-12-31    2017-12-31
Intangible Assets    7765000000   13370000000   16637000000   16659000000
Capital Surplus     60197000000   61049000000   60685000000   60893000000
Total Liab        1769243000000 1739571000000 1698817000000 1743678000000

In [115]:
Wells_Pargo.quarterly_balance_sheet.tail(3)     #   분기별 balance_sheet

                    2020-12-31    2020-09-30    2020-06-30    2020-03-31
Long Term Debt    188510000000  211367000000  219303000000  213157000000
Inventory            159000000     156000000     195000000     252000000
Accounts Payable 1404381000000 1383215000000 1410711000000 1376532000000

In [140]:
Wells_Pargo.calendar.head(2)                    #   주요 행사표, 일정표

                                Value
Earnings Date     2021-04-14 00:00:00
Earnings Average                 0.65

In [113]:
Wells_Pargo.cashflow.head(3)                   #   현금흐름, 자금운용의

                                            2020-12-31  ...   2017-12-31
Investments                                28663000000  ...  -3512000000
Change To Liabilities                      -3314000000  ...    666000000
Total Cashflows From Investing Activities 122554000000  ... -13152000000

[3 rows x 4 columns]

In [114]:
Wells_Pargo.quarterly_cashflow.head(3)          #   분기별 cashflow

                                           2020-12-31  ...   2020-03-31
Investments                               -2264000000  ... -10275000000
Change To Liabilities                     -1667000000  ...  -1448000000
Total Cashflows From Investing Activities 20512000000  ... -44303000000

[3 rows x 4 columns]

In [141]:
Wells_Pargo.dividends.tail()                    #   배당금
#type(Wells_Pargo.dividends)

Date
2020-02-06    0.51
2020-05-07    0.51
2020-08-06    0.10
2020-11-05    0.10
2021-02-04    0.10
Name: Dividends, dtype: float64

In [112]:
Wells_Pargo.earnings.tail(3)                    #   수입

          Revenue     Earnings
Year
2018  84696000000  22393000000
2019  82458000000  19549000000
2020  58319000000   3301000000

In [95]:
Wells_Pargo.quarterly_earnings.tail()          #   분기별_earnings

             Revenue    Earnings
Quarter
1Q2020   13712000000   653000000
2Q2020    8332000000 -2379000000
3Q2020   18100000000  2035000000
4Q2020   18175000000  2992000000

In [97]:
Wells_Pargo.financials.tail(2)                  #   재무재표  / Financial statements의 약어

                                       2020-12-31  ...  2017-12-31
Net Income From Continuing Ops         3586000000  ... 22460000000
Net Income Applicable To Common Shares 1710000000  ... 20554000000

[2 rows x 4 columns]

In [99]:
Wells_Pargo.quarterly_financials.tail(2)        #   분기별 재무재표

                                       2020-12-31  ... 2020-03-31
Net Income From Continuing Ops         3194000000  ...  505000000
Net Income Applicable To Common Shares 2642000000  ...   42000000

[2 rows x 4 columns]

In [142]:
Wells_Pargo.institutional_holders.head(3)       #   기관투자자

                       Holder     Shares Date Reported   % Out       Value
0  Vanguard Group, Inc. (The)  316366883    2020-12-30  0.0765  9547952528
1              Blackrock Inc.  283859421    2020-12-30  0.0687  8566877325
2    State Street Corporation  167356515    2020-12-30  0.0405  5050819622

In [108]:
Wells_Pargo.isin                        #   International Securities Identifier Number ( 국제 증권 식별 번호 )

'US9497461015'

In [143]:
Wells_Pargo.major_holders               #   대주주

        0                                      1
0   0.09%        % of Shares Held by All Insider
1  70.89%       % of Shares Held by Institutions
2  70.96%        % of Float Held by Institutions
3    2176  Number of Institutions Holding Shares

In [144]:
Wells_Pargo.mutualfund_holders.tail(3)          #   뮤추얼 펀드 (미국 투자 신탁(회사)의 일종) 주주

                            Holder    Shares Date Reported   % Out       Value
7         iShares Core S&P 500 ETF  31862266    2021-02-27  0.0077  1152458161
8           Vanguard/Primecap Fund  29723527    2020-12-30  0.0072   897056044
9  Vanguard Index-Value Index Fund  26458986    2020-12-30  0.0064   798532197

In [118]:
Wells_Pargo.options                     #   선택권  / 옵션 날짜?

('2021-04-09',
 '2021-04-16',
 '2021-04-23',
 '2021-04-30',
 '2021-05-07',
 '2021-05-14',
 '2021-05-21',
 '2021-06-18',
 '2021-07-16',
 '2021-09-17',
 '2021-10-15',
 '2022-01-21',
 '2022-06-17',
 '2023-01-20')

In [121]:
Wells_Pargo.recommendations.tail()             #   추천사항, 애널리스트 평가정보

                               Firm    To Grade   From Grade Action
Date
2021-02-18 11:28:51       JP Morgan     Neutral  Underweight     up
2021-02-24 12:28:35   Raymond James  Outperform                main
2021-03-01 14:42:38  Morgan Stanley  Overweight                main
2021-03-10 16:00:06  Morgan Stanley  Overweight                main
2021-04-01 11:13:43   Deutsche Bank         Buy                main

In [145]:
Wells_Pargo.splits                      #   분할

Date
1977-06-20    2.0
1988-07-01    1.5
1989-07-24    2.0
1993-06-29    2.0
1997-10-14    2.0
2006-08-14    2.0
Name: Stock Splits, dtype: float64

In [146]:
Wells_Pargo.sustainability.tail(3)              #   지속가능성

                      Value
2021-3
environmentScore       1.25
governancePercentile   None
militaryContract      False

In [125]:
Wells_Pargo.ticker                      #   주식 시세 표시기

'WFC'

In [105]:
Wells_Pargo.info   #   NASDAQ Symbols : Infonautics, Inc. 인포노틱스, 주식회사  / WFC 상세한 정보 parsing 해서 데이터 추출 가능해 보임

{'52WeekChange': 0.38421237,
 'SandP52WeekChange': 0.50914145,
 'address1': '420 Montgomery Street',
 'algorithm': None,
 'annualHoldingsTurnover': None,
 'annualReportExpenseRatio': None,
 'ask': 0,
 'askSize': 3000,
 'averageDailyVolume10Day': 30448760,
 'averageVolume': 36481975,
 'averageVolume10days': 30448760,
 'beta': 1.29144,
 'beta3Year': None,
 'bid': 0,
 'bidSize': 1000,
 'bookValue': 39.726,
 'category': None,
 'circulatingSupply': None,
 'city': 'San Francisco',
 'companyOfficers': [],
 'country': 'United States',
 'currency': 'USD',
 'dateShortInterest': 1615766400,
 'dayHigh': 39.65,
 'dayLow': 38.92,
 'dividendRate': 0.4,
 'dividendYield': 0.0101,
 'earningsQuarterlyGrowth': 0.041,
 'enterpriseToEbitda': None,
 'enterpriseToRevenue': 0.424,
 'enterpriseValue': 24741648384,
 'exDividendDate': 1612396800,
 'exchange': 'NYQ',
 'exchangeTimezoneName': 'America/New_York',
 'exchangeTimezoneShortName': 'EDT',
 'expireDate': None,
 'fiftyDayAverage': 38.320606,
 'fiftyTwoWeekHigh': 41.54,
 'fiftyTwoWeekLow': 20.76,
 'fiveYearAverageReturn': None,
 'fiveYearAvgDividendYield': 3.73,
 'floatShares': 4127533447,
 'forwardEps': 3.25,
 'forwardPE': 12.193847,
 'fromCurrency': None,
 'fullTimeEmployees': 268531,
 'fundFamily': None,
 'fundInceptionDate': None,
 'gmtOffSetMilliseconds': '-14400000',
 'heldPercentInsiders': 0.00093999994,
 'heldPercentInstitutions': 0.70889,
 'impliedSharesOutstanding': None,
 'industry': 'Banks—Diversified',
 'isEsgPopulated': False,
 'lastCapGain': None,
 'lastDividendDate': 1612396800,
 'lastDividendValue': 0.1,
 'lastFiscalYearEnd': 1609372800,
 'lastMarket': None,
 'lastSplitDate': 1155513600,
 'lastSplitFactor': '2:1',
 'legalType': None,
 'logo_url': 'https://logo.clearbit.com/wellsfargo.com',
 'longBusinessSummary': 'Wells Fargo & Company, a diversified financial services company, provides banking, investment, mortgage, and consumer and commercial finance products and services to individuals, businesses, and institutions in the United States and internationally. It operates in four segments: Consumer Banking and Lending; Commercial Banking; Corporate and Investment Banking; and Wealth and Investment Management. The Consumer Banking and Lending segment offers checking and savings accounts; credit and debit cards; and home, auto, personal, and small business lending products. The Commercial banking segment provides banking and credit products across multiple industry sectors and municipalities; and treasury management, secured lending, and lease products. The Corporate and Investment Banking segment provides corporate banking, investment banking, treasury management, commercial real estate lending and servicing, sales, trading, research capabilities, and equity and fixed income solutions to corporate, commercial real estate, government, and institutional clients. The Wealth and Investment Management segment provides personalized wealth management, investment, and retirement products and services; and delivers financial planning, private banking, credit, investment management, and fiduciary services. The company also offers brokerage, and Internet and mobile banking services. Wells Fargo & Company was founded in 1852 and is headquartered in San Francisco, California.',
 'longName': 'Wells Fargo & Company',
 'market': 'us_market',
 'marketCap': 163835969536,
 'maxAge': 1,
 'maxSupply': None,
 'messageBoardId': 'finmb_292891',
 'morningStarOverallRating': None,
 'morningStarRiskRating': None,
 'mostRecentQuarter': 1609372800,
 'navPrice': None,
 'netIncomeToCommon': 1710000000,
 'nextFiscalYearEnd': 1672444800,
 'open': 38.96,
 'openInterest': None,
 'payoutRatio': 2.9756,
 'pegRatio': 0.13,
 'phone': '866-249-3302',
 'previousClose': 39.07,
 'priceHint': 2,
 'priceToBook': 0.99758345,
 'priceToSalesTrailing12Months': 2.8093069,
 'profitMargins': 0.056599997,
 'quoteType': 'EQUITY',
 'regularMarketDayHigh': 39.65,
 'regularMarketDayLow': 38.92,
 'regularMarketOpen': 38.96,
 'regularMarketPreviousClose': 39.07,
 'regularMarketPrice': 39.63,
 'regularMarketVolume': 22706933,
 'revenueQuarterlyGrowth': None,
 'sector': 'Financial Services',
 'sharesOutstanding': 4134139904,
 'sharesPercentSharesOut': 0.014099999,
 'sharesShort': 58473871,
 'sharesShortPreviousMonthDate': 1613088000,
 'sharesShortPriorMonth': 45896921,
 'shortName': 'Wells Fargo & Company',
 'shortPercentOfFloat': 0.014199999,
 'shortRatio': 1.56,
 'startDate': None,
 'state': 'CA',
 'strikePrice': None,
 'symbol': 'WFC',
 'threeYearAverageReturn': None,
 'toCurrency': None,
 'totalAssets': None,
 'tradeable': False,
 'trailingAnnualDividendRate': 1.22,
 'trailingAnnualDividendYield': 0.031226005,
 'trailingEps': 0.41,
 'trailingPE': 96.65854,
 'twoHundredDayAverage': 30.105146,
 'volume': 22706933,
 'volume24Hr': None,
 'volumeAllCurrencies': None,
 'website': 'http://www.wellsfargo.com',
 'yield': None,
 'ytdReturn': None,
 'zip': '94104'}

**FMP 재무재표 API 회사**

https://junyoru.tistory.com/130?category=471312

미국 재무재표 불러오기.


**FRED API**

https://junyoru.tistory.com/122?category=471312

미국 경제데이터 불러오기